<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/conferenciaenfermagem</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">helio</property>
    <property name="hibernate.connection.autocommit">true</property>
    <property name="hibernate.format_sql">true</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    
    <mapping class="com.algaworks.comercial.model.Dao.Hemodinamica"/>
    <mapping class="com.algaworks.comercial.model.Dao.Login"/>
    <mapping class="com.algaworks.comercial.model.Dao.Ganho"/>
    <mapping class="com.algaworks.comercial.model.Dao.Drogas"/>
    <mapping class="com.algaworks.comercial.model.Dao.Perda"/>
    <mapping class="com.algaworks.comercial.model.Dao.Usuario"/>
    <mapping class="com.algaworks.comercial.model.Dto.TipoItemDroga"/>
    <mapping class="com.algaworks.comercial.model.Dto.TiposGanhos"/>
    <mapping class="com.algaworks.comercial.model.Dao.PerdaItem"/>
  </session-factory>
</hibernate-configuration>
